{
  "TenantLookupFunction": {
    "TENANTS_TABLE": "tenants-dev",
    "AWS_REGION": "us-east-1",
    "DYNAMODB_ENDPOINT_URL": "http://host.docker.internal:8000",
    "AWS_ACCESS_KEY_ID": "local",
    "AWS_SECRET_ACCESS_KEY": "local"
  }
}
